#i{
    font-size: 20px;
    background-color: gray;
    margin: 0;
padding: 10px;
border-radius: 10px;
color:white;
box-shadow:5px 5px 5px gray;
}

.people{
    background-color: white;
    color:black;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    font-size: 15px;
    height: 90px;
    box-shadow:5px 5px 5px gray;
}

#footer{
        bottom: 0px;
        width: 100%;
        line-height:2 ;
        position: fixed;
    background-color: gray;
    color:white;
    text-align: center;
    
    
}

canvas{
    margin-top: 125px;
}